WcfBindingsPerformanceTest/PerformanceTest/TestClientApp/Connected Services/SourceServiceProxy/SourceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SourceService/SourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SourceService" />
  <xs:element name="GetDataViaEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SourceService" minOccurs="0" name="request" nillable="true" type="q1:SourceTestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataViaEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SourceService" minOccurs="0" name="GetDataViaEndpointResult" nillable="true" type="q2:SourceTestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>