WcfBindingsPerformanceTest/PerformanceTest/TestClientApp/Connected Services/SourceServiceProxy/SourceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SourceService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SourceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SourceService/SourceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.Enums" />
  <xs:complexType name="SourceTestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttemptsNumber" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Enums" minOccurs="0" name="EndpointName" type="q1:EndpointName" />
      <xs:element minOccurs="0" name="SleepTimeMs" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Enums" minOccurs="0" name="TestingStrategy" type="q2:TestingStrategy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceTestRequest" nillable="true" type="tns:SourceTestRequest" />
  <xs:complexType name="SourceTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceTestResponse" nillable="true" type="tns:SourceTestResponse" />
</xs:schema>