WcfBindingsPerformanceTest/PerformanceTest/SourceService/Connected Services/DestinationService/DestinationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DestinationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DestinationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DestinationService/DestinationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.Enums" />
  <xs:complexType name="DestinationTestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PayloadBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SleepTimeMs" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Enums" minOccurs="0" name="TestingStrategy" type="q1:TestingStrategy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationTestRequest" nillable="true" type="tns:DestinationTestRequest" />
  <xs:complexType name="DestinationTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayloadBytes" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationTestResponse" nillable="true" type="tns:DestinationTestResponse" />
</xs:schema>